[submodule "src/driver/sunpower"]
	path = src/driver/sunpower
	url = git@github.com:COO-Utilities/sunpower.git
[submodule "src/driver/coo_ethercat"]
	path = src/driver/coo_ethercat
	url = git@github.com:CaltechOpticalObservatories/coo-ethercat.git
[submodule "src/driver/lris2_csu"]
	path = src/driver/lris2_csu
	url = git@github.com:CaltechOpticalObservatories/lris2-csu.git
